*{
    margin: 0;
    padding: 0;
}
body{
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
}
header{
    width: 1920px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

.logo{
    width: 341px;
    height: 47px;
    margin-right: 155px;
}
.main__nav-title{
    display: flex;
    width: 859px;
    height: 49px;
    justify-content: space-between;
    align-items: center;
}

.main__nav-title__li{
    font-size: 20px;
    list-style: none;
    width: 154px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* section 01 */
.container-fluid{
    position: relative;
    padding: 0px;
}
.container{
    width: 1296px;
    height: 312px;
    position: absolute;
    bottom: 43px;
    left: 312px;
    padding: 0px;
}
.container_title{
    width: 351px;
    height: 76px;
    margin-bottom: 50px;
}
.row{
    width: 1296px;
    height: 186px;
    background: #fff;
    border-radius: 20px;
}

/* section 02 */
.section02{
    width: 1920px;
    height: 880px;
    
}
.container_02{
    width: 1406px;
    height: 645px;
    margin-top: 100px;
    margin-left: 312px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section02_title{
    width: 351px;
    height: 114px;
    margin-bottom: 70px;
    text-align: center;
    color: #3DAD72;
    display: flex;
    flex-direction: column;
}
.section02_span1{
    font-size: 34px;
    margin-bottom: 30px;
}
.section02_span2{
    font-size: 18px;
}
.swiper {
    width: 966px;
    height: 421px;
}

.swiper-wrapper img {
    width: 306px;
    height: 421px;
    border-radius: 10px;
}
.section02_images .dom{
    width: 299.21px;
    height: 275.6px;
}
.section02_images .fire{
    width: 86px;
    height: 125px;
}
.section02_images{
    width: 1406px;
    height: 421px;
    display: flex;
    align-items: flex-end;

}


/* section 03 */
/* section 04 */
/* section 05 */
