*{
    margin: 0;
    padding: 0;
}
body{
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
}


.nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
    align-items: center;
}
.logo{
    width: 206px;
    height: 40px;
    margin-right: 375px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.main__nav{
    display: flex;
    width: 38%;
    height: 26px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;

}

.main__nav__li{
    font-size: 20px;
    list-style: none;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__nav__li:hover{
    transform: all .5s;
    border-bottom: 1px solid #3DAD72;
    cursor: pointer;
}
.hamburger__img {
    display: flex;
    justify-content: flex-end;
}
.hamburger {
    /* display: none; */
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    height: 370px;
    z-index: 111;
}
.hamburger_menu{
    list-style: none;
    text-align: center;
}

.active {
    background: beige;
}
.hamburger_menu li{
    font-size: 20px;
}
/* section 01 */

.section01{

    width: 100%;
    height: 880px;
    display: flex;
    flex-direction: center;
    align-items: flex-end;
    margin-top: 80px;
    position: relative;
}

.mySwiper1{
    width: 100%;
    height: 880px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.slide1{
    width: 100%;
    height: 880px;
    object-fit: cover;
}

.section01_container{
    width: 100%;
    height: 312px;
    margin-bottom: 43px;
    padding: 0px;
    z-index: 11;
}

.sec01_title{
    margin-bottom: 50px;
    color: #fff;
}
.sec01_title h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sec01_title p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}
.sec01_text {
    width: 100%;
    border-radius: 20px;
    margin: 0px;
    padding: 27px 25px;
    gap: 0 59px;
}
.sec01_text2{
    padding: 14px 25px;
}

.sec01_text .t1 {
    border-bottom: 1px solid #C8BCBC;
    height: 48.5px;
    padding: 0px;
    margin-bottom: 14.5px;
}
.sec01_text .t1 div {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #3DAD72;
    width: 105px;
    height: 48.5px;
    border-bottom: 3px solid #3DAD72;
    z-index: 50;
}
.sec01_text .t2 {
    width: 326px;
    height: 70px;
    padding: 10px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}
.t2 input{
    width: 210px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 18px;
    background: #f9f9f9;
}
.t2 input:hover{
    border: 0.5px solid #3DAD72;
}
.sec01_text .t2 img{
    width: 24px;
    height: 24px;
    margin-right: 30px;
}


.sec01_text .t3 {
    width: 336px;
    height: 70px;
    padding: 10px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.t3 input{
    width: 230px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 18px;
    background: #f9f9f9;
}
.t3 input:hover{
    border: 0.5px solid #3DAD72;
}
.sec01_text .t3 img{
    width: 24px;
    height: 24px;
    margin-right: 30px;
}


.sec01_text .t4 {
    width: 236px;
    height: 70px;
    padding: 10px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.t4 input{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 18px;
    background: #f9f9f9;
}
.t4 input:hover{
    border: 0.5px solid #3DAD72;
}
.sec01_text .t4 img{
    width: 24px;
    height: 24px;
    margin-right: 30px;
}

.sec01_text .t2:hover,
.sec01_text .t3:hover,
.sec01_text .t4:hover {
  background: #e0f4e8;
  transform: all .5s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sec01_text .t5 {
    width: 171px;
    height: 70px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    background: #35a164;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.sec01_text .t5:hover {
  background: #3CB977;
  transform: all .5s;
  cursor: pointer;
}

/* section 02 */

.section02{
    width: 100%;
    height: 1000px;
    padding-top: 120px;
}
.section02_container{
    width: 1406px;
    height: 605px;
    margin-left: 312px;
    margin-top: 100px;
}
.section02_p1{
    font-size: 34px;
    line-height: 28px;
    font-weight: 600;
    color: #3DAD72;
    margin-bottom: 30px;
}
.section02_p2{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #3DAD72;
    margin-bottom: 70px;
}
.section02_image{
    margin-top: 145px;
}
.mySwiper{
    height: 421px;
    border-radius: 20px;
}

/* .swiper-pagination{
    position: static;
    margin-top: 100px;
} */



/* section 03 */

.section03 {
    width: 100%;
    height: 880px;
    padding-top: 120px;
}    
.section03_container{
    position: relative;
}
.section03_p1{
    font-size: 34px;
    line-height: 28px;
    font-weight: 600;
    color: #3DAD72;
    margin-bottom: 20px;
}
.section03_p2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #3DAD72;
    margin-bottom: 100px;
}
.section03_image{
    position: relative;
}
.text_box1{
    width: 386px;
    height: 133px;
    position: absolute;
    top: 351px;
    left: 40px;
    color: #fff;
}
/* section 04 */

.section04 {
    width: 100%;
    height: 1000px;
    padding-top: 120px;
}    
.section04_container {
    width: 1296px;
    height: 560px;
    margin-top: 100px;
}
.section04_p1{
    font-size: 34px;
    line-height: 28px;
    font-weight: 600;
    color: #3DAD72;
    margin-bottom: 20px;
}
.section04_p2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #3DAD72;
    margin-bottom: 100px;
}

.section04_images p {
    width: 306px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
}
.section04_images span {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    color: #AC9C9C;
}

/* section 05 */

.section05 {
    width: 100%;
    background: #383838;
    padding: 59px 0;
}
.footer {
    height: 138px;
}
.footer img {
    width: 206px;
    height: 40px;
    margin-bottom: 20px;
}
.footer p {
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    margin-right: 20px;
    margin-bottom: 14px;
}

@media screen and (max-width: 1399px){
    .sec01_text {
        display: flex;
        flex-direction: column;
    }
    .sec01_text .t2 {
        width: 70%;
        justify-content: center;
        margin-bottom: 20px;
        align-self: center;
    }
    .t2 input {
        width: 70%;
    }
    .sec01_text .t3 {
        width: 70%;
        justify-content: center;
        margin-bottom: 20px;
        align-self: center;
    }
    .t3 input {
        width: 70%;
    }
    .sec01_text .t4 {
        width: 70%;
        justify-content: center;
        margin-bottom: 20px;
        align-self: center;
    }
    .t4 input {
        width: 70%;
    }
    .sec01_text .t5 {
        width: 70%;
        justify-content: center;
        margin-bottom: 20px;
        align-self: center;
    }
    .section01_container{
        height: 602px;
    }
}

@media screen and (max-width: 1024px){
    .main__nav {
        justify-content: flex-end;
    }
    .main__nav__li {
        display: none;
    }
    .hamburger__img {
        display: flex;
    }
    .hamburger__img img {
        width: 42px;
        height: 50px;
    }
}
@media screen and (max-width: 660px){
    .section01_container{
        width: 80%;
    }
}

