*{
    margin: 0;
    padding: 0;
}
body{
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
}


.nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
    align-items: center;
}
.logo{
    width: 206px;
    height: 40px;
    margin-right: 375px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.main__nav-title{
    display: flex;
    width: 715px;
    height: 26px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
}

.main__nav-title__li{
    font-size: 20px;
    list-style: none;
    width: 83px;
    height: 26px;
    display: flex;
    align-items: center;
}


/* section 01 */

.section01{

    width: 100%;
    height: 1000px;
    background: url('/assets/imges/bg.png') center ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 120px;
    justify-content: flex-end;
}
.section01_container{
    width: 100%;
    height: 312px;
    margin-bottom: 43px;
    padding: 0px;
}
.sec01_title{
    margin-bottom: 50px;
    color: #fff;
}
.sec01_title h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sec01_title p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}
.sec01_text {
    width: 1296px;
    height: 186px;
    border-radius: 20px;
    margin: 0px;
    margin-bottom: 43px;
    padding: 27px 25px;
    gap: 0 59px;
}
.sec01_text2{
    padding: 14px 25px;
}
.sec01_text img{
    background: cover;
}
.sec01_text .t1 {
    border-bottom: 1px solid #C8BCBC;
    height: 48.5px;
    padding: 0px;
    margin-bottom: 14.5px;
}
.sec01_text .t1 div {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #3DAD72;
    width: 105px;
    height: 48.5px;
    border-bottom: 3px solid #3DAD72;
    z-index: 50;
    
}
.sec01_text .t2 {
    width: 326px;
    height: 70px;
    padding: 21px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
}
.sec01_text .t2 img{
    width: 24px;
    height: 24px;
    margin-right: 41px;
}
.sec01_text .t2 p {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}


.sec01_text .t3 {
    width: 336px;
    height: 70px;
    padding: 21px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.sec01_text .t3 img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
.sec01_text .t3 p {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}


.sec01_text .t4 {
    width: 236px;
    height: 70px;
    padding: 21px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.sec01_text .t4 img{
    width: 24px;
    height: 24px;
    margin-right: 50px;
}
.sec01_text .t4 p {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.sec01_text .t5 {
    width: 171px;
    height: 70px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    background: #3DAD72;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* section 02 */

.section02{
    width: 100%;
    height: 1000px;
    padding-top: 120px;
}
.section02_container{
    width: 1406px;
    height: 605px;
    margin-left: 312px;
    margin-top: 100px;
}
.section02_p1{
    font-size: 34px;
    line-height: 28px;
    font-weight: 600;
    color: #3DAD72;
    margin-bottom: 30px;
}
.section02_p2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #3DAD72;
    margin-bottom: 70px;
}
.section02_image{
    margin-top: 145px;
}
.mySwiper{
    height: 421px;
    border-radius: 20px;
}
/* .swiper-pagination{
    position: static;
    margin-top: 100px;
} */



/* section 03 */

.section03 {
    width: 100%;
    height: 880px;
    padding-top: 120px;
}    

.section03_p1{
    font-size: 34px;
    line-height: 28px;
    font-weight: 600;
    color: #3DAD72;
    margin-bottom: 20px;
}
.section03_p2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #3DAD72;
    margin-bottom: 100px;
}
.section03_image{
    margin-top: 20px;
}


/* section 04 */

.section04 {
    width: 100%;
    height: 1000px;
    padding-top: 120px;
}    
.section04_container {
    width: 1296px;
    height: 560px;
    margin-top: 100px;
}
.section04_p1{
    font-size: 34px;
    line-height: 28px;
    font-weight: 600;
    color: #3DAD72;
    margin-bottom: 20px;
}
.section04_p2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #3DAD72;
    margin-bottom: 100px;
}

.section04_images p {
    width: 306px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
}
.section04_images span {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    color: #AC9C9C;
}

/* section 05 */

.section05 {
    width: 100%;
    background: #383838;
    padding: 59px 0;
}
.footer {
    height: 138px;
}
.footer img {
    width: 206px;
    height: 40px;
    margin-bottom: 20px;
}
.footer p {
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    margin-right: 20px;
    margin-bottom: 14px;
}

