*{
    margin: 0;
    padding: 0;
}
body{
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

/* KOTRA HOPE 폰트 등록 */
    @font-face {
        font-family: 'KOTRA HOPE';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
}

.padding-common-120{
    padding: 120px 0;
}


.nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
    align-items: center;
}
.logo{
    width: 206px;
    height: 40px;
    margin-right: 375px;
    margin-bottom: 10px;
    padding-left: 0px;
}
/* .logo span{
    font-size: 40px;
    line-height: 40px;
    font-family: Inter Variable;
    font-weight: 600;
    letter-spacing: -6px;
    background: linear-gradient(182deg,rgba(57, 220, 114, 1) 30%, rgba(39, 228, 168, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} */

.main__nav{
    display: flex;
    width: 38%;
    height: 26px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}

.main__nav__li{
    font-size: 20px;
    list-style: none;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__nav__li:hover{
    transform: all .5s;
    color: #3DAD72;
    cursor: pointer;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-down {
  animation: fadeInDown 1s ease-out forwards;
}

/* section01 */

.section01{
    width: 100%;
    height: 830px;
    display: flex;
    flex-direction: center;
    align-items: center;
    margin-top: 80px;
    position: relative;
}

.mySwiper1{
    width: 100%;
    height: 830px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.slide1{
    width: 100%;
    height: 830px;
    object-fit: cover;
}



/* section01-2 */

.section01_container{
    width: 100%;
    padding: 0px;
    z-index: 11;

}

.sec01_title{
    margin-bottom: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sec01_title h4 {
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: 'KOTRA HOPE';
    transition: transform 0.3s ease; /* 이동 애니메이션만 적용 */
}

/* 호버 시 텍스트 위로 5px 이동 */
.sec01_title h4:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.sec01_text {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    margin: 0 auto;
}

.text_top {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #C8BCBC;
    display: flex;
    align-items: flex-end;

}
.text_top p {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #3DAD72;
    width: 130px;
    height: 50.5px;
    border-bottom: 3px solid #3DAD72;
    z-index: 50;
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
.text_bottom{
    padding: 10px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}
.text_bottom input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 18px;
    background: #fff;
}
.text_bottom input:hover{
    border: 0.5px solid #3DAD72;
}
.text_bottom_user{
    padding: 10px 26px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}
.text_bottom_user input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 18px;
    background: #fff;
}
.sec01_text img{
    width: 24px;
    height: 24px;
    margin: 0 25px;
}

.sec01_btn{
    width: 100% ;
    height: 60px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    background: #0DCD90;
    border-radius: 20px;
    text-align: center;
    border: none;
}
.sec01_btn:hover {
  background: #3CB977;
  transform: all .5s;
  cursor: pointer;
}

/* section02 */

.sec02{
    position: relative;
}
.sec02__container{
    width: 100%;
    position: relative;
}
.sec02_top h2{
    font-size: 45px;
    font-weight: 45px;
    font-family: 'KOTRA HOPE';
    font-weight: normal;
    font-style: normal;
    background: linear-gradient(#39DC72 60%, #27E4A8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}
.sec02_top p{
    font-size: 18px;
    font-weight: 20px;
    color: #3DAD72;
    margin-bottom: 50px;
}

.sec02__img img{
    width: 100%;
    border-radius: 20px;
}
.sec02__text{
    z-index: 1;
    display: flex;
    position: absolute;
    top:0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: #3DAD72;
    text-align: center;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
}
.sec02__text h2{
    font-size: 26px;
    line-height: 28px;
    font-weight: 600;
}
.sec02__text:hover{
    
    opacity: 0.9;
}

/* section03 */

.sec03 img{
    width: 100%;
    border-radius: 20px;
}
.sec03__container{
    position: relative;
}
.sec03__text{
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.sec03_top h2{
    font-size: 45px;
    font-weight: 45px;
    font-family: 'KOTRA HOPE';
    font-weight: normal;
    font-style: normal;
    background: linear-gradient(#39DC72 60%, #27E4A8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}
.sec03_top p{
    font-size: 18px;
    font-weight: 20px;
    color: #3DAD72;
    margin-bottom: 50px;
}

/* section04 */

.sec04 img{
    width: 100%;
    margin-bottom: 35px;
}
.sec04_top h2 {
    font-size: 45px;
    font-family: 'KOTRA HOPE', sans-serif;
    font-weight: normal;
    font-style: normal;
    background: linear-gradient(#39DC72 60%, #27E4A8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}
.sec04_top p{
    font-size: 18px;
    font-weight: 20px;
    color: #3DAD72;
    margin-bottom: 50px;
}
.review__container{
    width: 309px;
    height: 398px;
    margin-top: 25px;
    font-size: 16px;
    border: 1px solid #d6d6d6;
}

/* footer */

footer{
    width: 100%;
    height: 256px;
    background: #383838;
    padding-top: 59px;
}

a{
    text-decoration: none;
    color: inherit;
}
footer .container h2{
    font-size: 40px;
    font-family: 'KOTRA HOPE';
    line-height: 40px;
    font-weight: 600;
    background: linear-gradient(#39DC72 60%, #27E4A8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}
footer .container p{
    color: #fff;
}
footer ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    gap:20px;
}


@media(max-width:1399px){

    
    .section01{
        height: 780px;
    }

    .mySwiper1{
        height: 780px;
    }
    .slide1{
        height: 780px;
    }

    .sec01_text {
        width: 80%;
        height: 210px;
        border-radius: 20px;
    }
    .sec01_title h4{
        padding: 10px 10px;
        font-size: 28px;
        margin-bottom: 20px;
    }   
    .sec01_text img{
        width: 24px;
        height: 24px;
        margin: 0 50px 0 25px;
    }
    
    /* sec02 */

    .sec02_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec02_top p{
        font-size: 16px;
        font-weight: 18px;
    }
    .sec02__text h2{
        font-size: 22px;
        line-height: 26px;
    }

     /* sec03 */

    .sec03__text{
        bottom: 10px;
        left: 10px;
        font-size: 20px;
        font-weight: 500;
    }
    .sec03_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec03_top p{
        font-size: 16px;
        font-weight: 18px;
    }
    /* sec04 */
    
    .sec__review_text{
        font-size: 14px;
        letter-spacing: -1px;

    }
    .sec04_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec04_top p{
        font-size: 16px;
        font-weight: 18px;
    }

}



@media(max-width:1199px){

    .section01{
        height: 780px;
    }

    .mySwiper1{
        height: 780px;
    }
    .slide1{
        height: 780px;
    }

    .sec01_text {
        width: 80%;
        height: 380px;
        border-radius: 20px;
    }
    .sec01_title{
        margin-bottom: 50px;
    }
    .sec01_title h4{
        padding: 10px 10px;
        font-size: 28px;
        margin-bottom: 20px;
    }   
    .sec01_text img{
        width: 24px;
        height: 24px;
        margin: 0 50px 0 25px;
    }
    

    /* sec02 */

    .sec02{
        position: relative;
    }
    .sec02__container{
        width: 100%;
        position: relative;
    }
    .sec02_top h2{
        font-size: 45px;
        font-weight: 45px;
        font-family: 'KOTRA HOPE';
        font-weight: normal;
        font-style: normal;
        background: linear-gradient(#39DC72 60%, #27E4A8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 20px;
    }
    .sec02_top p{
        font-size: 18px;
        font-weight: 20px;
        color: #3DAD72;
        margin-bottom: 50px;
    }

    .sec02__img img{
        width: 100%;
        border-radius: 20px;
    }
    .sec02__text{
        z-index: 1;
        display: flex;
        position: absolute;
        top:0;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        background-color: #3DAD72;
        text-align: center;
        color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.6s;
    }
    .sec02__text h2{
        font-size: 26px;
        line-height: 28px;
        font-weight: 600;
    }
    .sec02__text:hover{
        opacity: 0.9;
    }


    /* sec03 */

    .sec03__text{
        bottom: 0px;
        left: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    .sec03_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec03_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    /* sec04 */

    .sec__review_text{
        font-size: 14px;
        letter-spacing: -1px;

    }
    .sec04_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec04_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    /* footer */

    footer{
        height: 180px;
        padding-top: 42px;
    }
    footer .container h2{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }  
}




@media(max-width:991px){

    /* sec02 */

    .sec02_top h2{
        font-size: 32px;
        font-weight: 32px;
    }
    .sec02_top p{
        font-size: 14px;
        font-weight: 16px;
    }
    .sec02__text h2{
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -2px;
    }

    /* sec03 */
    .sec03 img{
        border-radius: 10px;
    }
    .sec03__text{
        bottom: 0px;
        left: 5px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .sec03_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec03_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    /* sec04 */

    .sec__review_text{
        font-size: 18px;
        letter-spacing: -1px;
    }
    .sec04_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec04_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    /* footer */

    footer{
        height: 180px;
        padding-top: 42px;
    }
    footer .container h2{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }  
}


@media(max-width:767px){


    /* sec03 */

    .sec03__text{
        bottom: 20px;
        left: 20px;
        font-size: 20px;
        font-weight: 500;

    }
    .sec03_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec03_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    /* sec04 */

    .sec__review_text{
        font-size: 16px;
        letter-spacing: -1px;
    }
    .sec04_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec04_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    .sec04 img{
        width: 100%;
        margin-bottom: 35px;
    }
    .review__container{
        width: 250px;
        height: 358px;
    }

    /* footer */

    footer{
        height: 180px;
        padding-top: 28px;
    }
    footer .container h2{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }  
}


@media(max-width:575px){


    /* sec01 */

        
    .section01{
        height: 680px;
    }

    .mySwiper1{
        height: 680px;
    }
    .slide1{
        height: 680px;
    }

    /* sec01-2 */

    .sec01_title h4{
        padding: 10px 10px;
        font-size: 28px;
    }

    .sec01_text {
        width: 80%;
        height: 400px;
    }
    .text_top p {
        font-size: 20px;
        width: 100px;
        height: 40.5px;
    }

    .text_bottom input{
        width: 70%;
        height: 40px;
        font-size: 16px;
    }
    .sec01_text img{
        width: 22px;
        height: 22px;
    }

    .sec01_btn{
        font-size: 22px;
    }
    
    /* sec02 */

    .sec02__img img{
        width: 100%;
        margin: 0 auto;
        border-radius: 20px;
    }
    .sec02__text{
        width: 100%;
        height: 100%;
    }

    /* sec03 */

    .sec03__text{
        bottom: 20px;
        left: 20px;
        font-size: 20px;
        font-weight: 500;

    }
    .sec03_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec03_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    /* sec04 */

    .sec04 img{
        width: 100%;
    }
    .sec04_top h2{
        font-size: 45px;
        font-weight: 45px;
        font-family: 'AndongKaturi';
        font-weight: normal;
        font-style: normal;
        background: linear-gradient(#39DC72 60%, #27E4A8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 20px;
    }
    .sec04_top p{
        font-size: 18px;
        font-weight: 20px;
        color: #3DAD72;
        margin-bottom: 50px;
    }
    .review__container{
        width: 309px;
        height: 398px;
        margin-top: 25px;
        font-size: 16px;
        border: 1px solid #d6d6d6;
    }

    /* footer */

    footer{
        height: 180px;
        padding-top: 28px;
    }
    footer .container h2{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }  
}
@media(max-width:390px){


    /* sec01 */
    .section01{
        height: 480px;
    }

    .mySwiper1{
        height: 480px;
    }
    .slide1{
        height: 480px;
    }

    /* sec01-2 */

    .sec01_title h4{
        padding: 5px 5px;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .sec01_title{
        margin-bottom: 10px;
    }
    .sec01_text {
        width: 90%;
        height: 350px;
    }
    .text_top p {
        font-size: 20px;
        width: 100px;
        height: 40.5px;
    }
    .text_bottom{
        padding: 5px 15px;
    }
    .text_bottom input{
        width: 80%;
    }
    .text_bottom_user{
        padding: 5px 15px;
    }
    .text_bottom_user input{
        width: 80%;
        font-size: 16px;
    }
    .sec01_text img{
        width: 20px;
        height: 20px;
        margin: 0 20px;
    }
    .sec01_btn{
        font-size: 20px;
    }
    
    /* sec02 */

    .sec02__container{
        width: 90%;
        height: 60%;
        margin: 0 auto;
    }
 

    /* sec03 */

    .sec03__text{
        bottom: 20px;
        left: 20px;
        font-size: 20px;
        font-weight: 500;

    }
    .sec03_top h2{
        font-size: 36px;
        font-weight: 36px;
        margin-bottom: 10px;
    }
    .sec03_top p{
        font-size: 16px;
        font-weight: 18px;
    }

    /* sec04 */

    .sec04 img{
        width: 100%;
    }
    .sec04_top h2{
        font-size: 45px;
        font-weight: 45px;
        font-family: 'AndongKaturi';
        font-weight: normal;
        font-style: normal;
        background: linear-gradient(#39DC72 60%, #27E4A8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 20px;
    }
    .sec04_top p{
        font-size: 18px;
        font-weight: 20px;
        color: #3DAD72;
        margin-bottom: 50px;
    }

    /* footer */

    footer{
        height: 180px;
        padding-top: 28px;
    }
    footer .container h2{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }  
}

